<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(v,k,i) in obj">{{i}}</li>
            <hr />
            <li v-for="(v,k,i) in obj">{{k}}</li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        //.TODO: v-for="(v,k,i) in obj"
        /* v : 值
          k : 键
          i : 索引值 */
        var vm = new Vue({
            el: '#app',
            data: {
                obj: {
                    name: 'yoona',
                    age: '18',
                    gender: 'male',
                },
            },
            methods: {},
        });
    </script>
</body>

</html>