body {
  margin: 0;
  padding: 0;
  background-color: #80ee19;
}
body ul {
  padding: 0;
  margin: 0;
}
body input::placeholder {
  background-color: #f00;
}
body #box {
  width: 400px;
  height: 250px;
  margin: 0 auto;
  background: url('../images/Yoona.gif') no-repeat;
}
